Source: pywwetha
Section: httpd
Priority: optional
Maintainer: J. Hamatoma <hama@siduction.net>
Uploaders: Alf Gaida <agaida@siduction.org>
Build-Depends:
 debhelper (>= 9),
 dh-systemd,
Standards-Version: 3.9.5
Homepage: http://siduction.org
Vcs-Git: git://git.siduction.org/packages/siduction-repository/pywwetha
Vcs-Browser: http://git.siduction.org/?p=packages/siduction-repository/pywwetha.git;a=summary

Package: pywwetha
Architecture: all
Depends: ${misc:Depends},
	python (>=2.0),
	python-support (>= 0.90.0),
	sudo (>=1.0),
Description: simple webserver for static html, CGI and WSGI.
 This webserver can issue static files and CGI created pages.
 Main usage: Building dynamic pages for life CDs or local usage.
 pywwetha can handle WSGI and Django applications.
 In addition pywwetha contains Djinn, a very little WSGI middleware
 which can replace Django in some cases.
