[Unit]
Description=pywwetha daemon
After=network.target

[Service]
ExecStart=/usr/share/pywwetha/source/pywwetha.py 
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
