[Unit]
Description=pywwetha daemon

[Service]
ExecStart=/usr/share/pywwetha/source/pywwetha.py

[Install]
WantedBy=multi-user.target

[Socket]
ListenStream=80