[Unit]
Description=pywwetha minimal webserver daemon

[Service]
ExecStart=/usr/share/pywwetha/source/pywwetha.py

[Install]
WantedBy=multi-user.target
